body {
  font-family: sans-serif;
}

#__next {
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  background: #000000;
  color: #ffffff;
}

input {
  width: 100%;
  font-size: 1.2em;
}

.text {
  display: flex;
  padding: 0.5em 0;
}

.text + .text {
  border-top: solid 1px #cccccc;
}

.avatar_container {
  min-width: 3em;
  height: 3em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
  font-weight: bold;
}

.meta {
  margin-top: 0.3em;
}

.user_name {
  margin-right: 0.5em;
  color: #666666;
}

.created_at {
  font-size: 0.7em;
  color: #999999;
}
